
/* Dropdown Button */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	position: relative;	
}

.vertical-center {
	margin-top: 30px;
	position: relative;
	transform: translateY(-50%);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: absolute;
	display: inline-block;
}

/* Head of the dropdown */
.dropdownhead{
	padding: 0%;
	margin-top: 25px;
	margin-left: 5px;
	position: absolute;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: greenyellow;
	opacity: 1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 4;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Makes all image rounded */
img {
	border-radius: 50%;
}

.imgFull{
	border-radius: 0%;
}

/* Sets de defaults for html and body, disables horizontal overflow ,sets background*/
html, body {
	margin: 20;
	background-size: cover;
	overflow-x: hidden;
	margin:auto;
	width:100%;
	min-height: 100%;
	height: auto;
	
	background: linear-gradient(0deg, cyan, blue);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Change the text to uppersace */
.uppercase {
	text-transform: uppercase;
}

/* Sets the links for studyguide: adjust font and style */
.studyguidelinks {
	font-size: 150%;
	text-justify: auto;
	text-decoration-style: solid;
	font-weight: bold;
}

/* Sets the FAQ header */
.faq {
	font-size: 150%;
	text-align: center;
	list-style-position: inside;
	
}

/* center setting for columns in profile */
.center_profile {
	font-size: 27px;
	text-align: center;
	width: 40%;
}

/* Sets the margin property for all lists */
li {
	margin: 20px;
}


h1 {
	font-size:40px
}
h2 {
	font-size: 30px;
}
a {
	font-size: 25px;
	color: rgb(67, 8, 75);
}

/* Default padding for all elements */
* {
	padding: 5px;
	
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.text-red {
	color: maroon;
}

/* Same as .center, modify later! */
.align-middle{
	text-align: center;
}

/* The animation code of the text "Hungary"*/
@keyframes hungary {
	0%   {background-color: red;}
	50%  {background-color: white;}
	100% {background-color: green;}
}
/* The element to apply the hungary-animation to */
.hungarian {
	width: 100px;
	height: 100px;
	background-color: red;
	animation-name: hungary;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
/* The animation code of the trains */
@keyframes train-animation {
	0%   {left:310px; top:0px;}
	100% {left:0px; top:0px;}
}

/* The element to apply the train-animation to */
.train {
	width: 100px;
	height: 100px;
	position: relative;
	background-color:transparent;
	animation-name: train-animation;
	animation-duration: 8s;
	animation-delay: 20s;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
}

/* Sets column default float to left if applied */
.column {
	float: left;
}

/* Left and right column */
.side {
	width: 25%;
}

/* Middle column */
.middle {
	width: 48%;
	
}

/* For labels on home page */
.labels{
	font-size: 40px;
	color: rgb(5, 56, 5);
	text-align: right;
}

/* Spinning image for the profile page */
@keyframes spin {
	from{
		transform: rotateY(0deg);
		
	}
	to{
		transform: rotateY(360deg);
		
	}
}

/* For full spin */
@-webkit-keyframes spin{
	from{-webkit-transform: rotateY(0deg);}
	to{-webkit-transform: rotateY(360deg);}
}

/* Adjusts properties for the spinning image */
.image_spin_holder{
	animation-name: spin;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	width: 20%;
	-webkit-animation-name: spin;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 10s;
}

/* Image on the profile page */
.imgprofile{
	align-content: center;
	margin-left: 45%;
}

/* Design for all progressbar in the home page */
#file {
	background-color: rgba(238, 238, 238, 0.158);
	border-radius: 1px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	width: 250px;
	height: 30px;
	background-image:
	-webkit-linear-gradient(-45deg, 
	transparent 33%, rgba(0, 0, 0, .1) 33%, 
	rgba(0,0, 0, .1) 66%, transparent 66%),
	-webkit-linear-gradient(top, 
	rgba(255, 255, 255, .25), 
	rgba(0, 0, 0, .25)),
	-webkit-linear-gradient(left, #f44, #09c);
	
	border-radius: 2px; 
	background-size: 35px 20px, 100% 100%, 100% 100%;
	float: right;
	margin-top: 10px;
}

/* Design for the progressbar in the dashboard for the EC */
#ecbar {
	background-image: linear-gradient(90deg, red, red, red, green, green);
	border-radius: 1px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	width: 1225px; 
	height: 50px;
}

/* Sets the text to 35px */
.semi-bigText {
	font-size: 35px;
}
.imgPaddingLeft {
	padding-left: 30px;
}
.imgPaddingRight {
	padding-right: 30px;
}
.linkAdjustSizeTo35px {
	font-size: 35px;
}

/* For the table in the dashboard page */
#t01 table{
	
	border: 1px solid black;
	border-collapse: collapse;
}

/* Caption for the table in the dasboard page */
#t01 caption{
	
	margin-bottom: 70px;
}	

/* Adjust properties for the table */
#t01 th{
	border: 1px solid black;
	border-collapse: collapse;
}
#t01 td{
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 15px;
}
th, td {
	text-align: center;
}
#t01 {
	width: 98.5%;
}

#t01 th {
	color: white;
	background-color: black;
}

/* coloring for failed exams */
.failed{
	background-color: red;
}

/* coloring for completed exams */
.completed{
	background-color: green;
}

/* coloring for awaiting exams */
.awaiting{
	background-color: transparent;
}

/* Set the chart width to 96% */
.chart {
	width: 96%;
}

/* Grid container for the about me section's 3 arcticles */
.grid-container{
	display: grid;
	grid-template-columns: 25% 50% 25%;
	align-content: center;
	grid-gap: 20px;
	grid-template-areas: 'left center right';
}

/* The 3 item in the .grid-container */
.item1 { grid-area: left; }
.item2 { grid-area: middle; }
.item3 { grid-area: right; }

/* Makes the border disappear for any table element that uses */
.noborder_for_table{
	border: 0px;
}

.inside_list_position{
	list-style-position:inside
}

/* Flexbox-container for the EC bar and list */
.divFlex {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: center;
}

/* Visually showing the minimally requied EC (45/60) */
.ecboundary{
	width: 0vmin;
	height: 30px;
	left: 1175px;
	position: absolute;
	background-color: red;
}
 
#tmobile {
	color: magenta;
}

#revolut {
	
}

.profession {
	font-size: 150%;
}